/** Para visión en pantallas de escritorio normales. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /** Index */
    .month-summaries-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
    /** Months */
    .content-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
    /** Covid */
    table .table-record-header {
        text-align: left;
        padding-left: 1%;
    }
    table .table-record-total-header {
        text-align: end;
        padding-right: 1%;
    }
}


/** Para visión en pantallas grandes, como de televisores. */

@media only screen and (min-width: 1200px) {
    /** Index */
    .month-summaries-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
    /** Months */
    .content-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
    /** Covid */
    table .table-record-header {
        text-align: left;
        padding-left: 1%;
    }
    table .table-record-total-header {
        text-align: end;
        padding-right: 1%;
    }
}