body {
    background-color: rgb(176, 121, 204);
    margin: 5% 5% 5% 5%;
}

h1 {
    color: rgb(175, 0, 35);
    text-align: center;
}

h2 {
    color: darkgreen;
}

table {
    width: 90%;
    border: 1px solid black;
}

table .table-header-wrapper {
    background-color: black;
    color: rgb(194, 194, 194);
}

table col {
    background-color: rgb(94, 94, 50);
}

table .table-record-header {
    text-align: left;
    padding-left: 1%;
}

table .table-record-total-header {
    text-align: end;
    padding-right: 1%;
}

.index-col {
    background-color: grey;
}


/** Para visión en teléfonos móviles en modo vertical. */

@media only screen and (min-width: 575px) {
    table .table-record-header {
        text-align: left;
        padding-left: 1%;
    }
    table .table-record-total-header {
        text-align: end;
        padding-right: 1%;
    }
}


/** Para visión en teléfonos móviles en modo horizontal. */

@media only screen and (min-width: 575px) and (max-width: 767px),
(orientation: landscape) {
    table .table-record-header {
        text-align: left;
        padding-left: 1%;
    }
    table .table-record-total-header {
        text-align: end;
        padding-right: 1%;
    }
}


/** Para visión en tablets. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    table .table-record-header {
        text-align: left;
        padding-left: 1%;
    }
    table .table-record-total-header {
        text-align: end;
        padding-right: 1%;
    }
}


/** Para visión en pantallas de escritorio normales. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    table .table-record-header {
        text-align: left;
        padding-left: 1%;
    }
    table .table-record-total-header {
        text-align: end;
        padding-right: 1%;
    }
}


/** Para visión en pantallas grandes, como de televisores. */

@media only screen and (min-width: 1200px) {
    table .table-record-header {
        text-align: left;
        padding-left: 1%;
    }
    table .table-record-total-header {
        text-align: end;
        padding-right: 1%;
    }
}