body {
    background-color: rgb(191, 134, 206)
}

h1 {
    color: rgb(27, 8, 201);
    text-align: center;
}

h2 {
    color: red;
}

.news-wrapper {
    border: 1px solid black;
    border-radius: 25px;
}

.news-item-wrapper {
    border: inherit;
    border-radius: inherit;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.title-wrapper {
    border: inherit;
    border-radius: inherit;
    background-color: grey;
}

.content-wrapper {
    border: inherit;
    border-radius: inherit;
    padding: 3em;
}


/** Para visión en teléfonos móviles en modo vertical. */

@media only screen and (min-width: 575px) {
    .content-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
}


/** Para visión en teléfonos móviles en modo horizontal. */

@media only screen and (min-width: 575px) and (max-width: 767px),
(orientation: landscape) {
    .content-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
}


/** Para visión en tablets. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .content-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
}


/** Para visión en pantallas de escritorio normales. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .content-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
}


/** Para visión en pantallas grandes, como de televisores. */

@media only screen and (min-width: 1200px) {
    .content-wrapper {
        padding-left: 4%;
        padding-bottom: 4%;
    }
}